<nav class="navbar fixed-bottom navbar-light bg-light">
      <a class="navbar-brand" href="#"><p><button type="button" class="btn btn-light">Brasil</button></p>
      <p><button type="text-button" class="btn btn-light">Publicidade</button>
      <button type="text-button" class="btn btn-light">Negócios</button>
      <button type="text-button" class="btn btn-light">Sobre</button></a>
      <a>
      <button type="text-button width: 20px;" class="btn btn-light">Privacidade</button>
      <button type="text-button" class="btn btn-light">Termos</button>
      <button type="text-button" class="btn btn-light">Configurações</button></a>
</nav>  